{% extends 'base.html' %}
{% block style %}
    <style>
        .temperature {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
{% endblock style %}


{% block content %}
    {% if weather and not weather.temperature %}
        <div class="alert alert-danger" role="alert">No results found.</div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            Find Temperature For Location
        </div>
        <div class="card-body">
            <form action="." method="POST">
                {% csrf_token %}
                {% include 'bs4_form.html' with form=form %}
                <button type="submit" class="btn btn-primary">Show Temperature</button>
            </form>
        </div>
        {% if weather.temperature %}
            <div class="card-footer text-center">
                Temperature at <i>{{ weather.city }}</i> is <span class="temperature">{{ weather.formatted_temperature }}</span>.
            </div>
        {% endif %}
    </div>
{% endblock content %}